body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    /* position: relative; */
    display: grid;
    justify-items: center;
}

main{
    display: flex;
    /* background: chartreuse; */
    width: 100%;
}

.forecast-details{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.detail{
    margin: 10px 0px;
    padding: 10px;
}

a{
    margin-top: 15px;
    position: relative;
    left: 0px;
    text-decoration: none;
    /* background: ; */
}